// $bgHomeFoot : url(../../img/home-bg.jpg);

$bg_home : url('../../img/home-bg.jpg');
$max_width : 100%;
$max_height : 100%;
$bg_org: rgb(243, 66, 76);


.nav_btn {
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    >a {
        >.rec {
            width: 210px;
            height: 62px;
            background-color: $bg_org;
            border-radius: 15px;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            right: 10px;
            top: 0;

            p {
                color: white;
                font-size: 17px;
                // font-weight: bold;
                line-height: 15px;
                z-index: 3;
            }

            &::before {
                content: '';
                width: 194px;
                height: 78px;
                border: 3px solid $bg_org;
                border-radius: 15px;
                padding-right: 20px;
                transition: all .5s ease-in-out;
                position: absolute;
                right: -7px;
            }

            &:hover::before {
                width: 70px;
            }
        }
    }
}