*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: freepilo;
    src: url(../../font/Fredoka/Fredoka_Condensed-Light.ttf) ;
}

@font-face {
    font-family: fredoka;
    src: url(../../font/Fredoka/Fredoka-SemiBold.ttf)
}
@font-face {
    font-family: epilogue;
    src: url(../../font/Epilogue/Epilogue-Regular.ttf)
}

@font-face {
    font-family: iran;
    src: url(../../font/IRANSansWeb_Light.ttf)
}

body {
    /* font-family: iran; */
    font-size: 100%;
}

body,
input,
button {
    font-size: 1rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav_menu {
    font-family: fredoka;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
