/* start bottomFixedImage */
.bottomImage {
    position: absolute;
    bottom: 20px;
    right: 5px;
    width: 200px;
    height: 110px;

    >.imgFixed {
        width: 80px;
        height: 80px;
        position: fixed;
        bottom: 60px;
        right: 17px;
        z-index: 1000;

        >img {
            width: 100%;
            height: 100%;
            border: 6px solid rgba(26, 25, 25, 0.062);
            object-fit: cover;
            border-radius: 50%;
            position: relative;
            z-index: 999;
            transition: all .6s ease-in-out;
            box-shadow: 4px 5px 9px 5px rgb(243, 66, 76);

            &:hover {
                /* transform: scale(1.03); */
                cursor: pointer;
                transform: perspective(700px) rotateY(20deg);
                /* transform: perspective(400px) rotate3D(0, 1, 0, 10deg); */


            }
        }

        >a {
            width: 40px;
            height: 40px;
            z-index: 998;
            position: fixed;
            bottom: 70px;
            right: 32px;
            transition: all 1s ease-in-out;
            border: 3px solid rgb(243, 66, 76);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.616);


            >i {
                color: black;
                font-size: 20px;
            }

            &:hover {
                transform: scale(1.05);
                background-color: rgba(243, 66, 75, 0.575);
                border: 3px solid rgba(211, 206, 206, 0.548);
                filter: hue-rotate(40%) brightness(110%) contrast(120%);

                >i {
                    color: white;
                }
            }
        }
    }

    &:hover>.imgFixed>a {

        &:nth-of-type(1) {
            bottom: 10px;
            right: 110px;
        }

        &:nth-of-type(2) {
            bottom: 56px;
            right: 110px;
        }

        &:nth-of-type(3) {

            bottom: 103px;
            right: 110px;
        }
    }
}

/* end bottomFixedImage */